### Node JS ###

# description: Your Node JS Port
# format: Number
# example: 1337
# required: true
PORT=1337

# description: Your Production URL. You only set this if your planning to go into production.
# format: URL
# example: https://www.test.com/sms
# required: false
PRODUCTION_URL=

### Banner Bear ###

# description: Your Banner Bear API Key
# format: String
# example: bb_pr_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# link: https://app.bannerbear.com/projects/
# required: true
BANNER_BEAR_API_KEY=

# description: Your Banner Bear Template Id
# format: Alphanumeric
# example: 4lpAnumer1c
# link: https://app.bannerbear.com/projects/
# required: true
BANNER_BEAR_SQUARE_TEMPLATE_ID=

# description: Your Banner Bear Template id
# format: Alphanumeric
# example: 4lpAnumer1c
# link: https://app.bannerbear.com/projects/
# required: true
BANNER_BEAR_LANDSCAPE_TEMPLATE_ID=

# description: Your Banner Bear Template Id
# format: Alphanumeric
# example: 4lpAnumer1c
# link: https://app.bannerbear.com/projects/
# required: true
BANNER_BEAR_PORTRAIT_TEMPLATE_ID=

### Twilio ####

# description: Your Twilio Account SID
# format: String
# example: ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# link: https://www.twilio.com/docs/iam/keys/api-key
# required: true
TWILIO_ACCOUNT_SID=

# description: Your Twilio Auth Token
# format: String
# example: ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# link: http://twilio.com/console
# required: true
TWILIO_AUTH_TOKEN=

# description: Your Twilio Account SID
# format: String
# example: SKXXXX
# link: https://www.twilio.com/docs/iam/keys/api-key
# required: true
TWILIO_API_KEY=

# description: Your Twilio API Secret
# format: String
# example: P4SSW0RDXXXXXXXXXXXXXXXXXXXXXXXX
# link: https://www.twilio.com/docs/iam/keys/api-key
# required: true
TWILIO_API_KEY_SECRET=